body {
  font-size: 16px;
}
p {
    margin: 10px 0;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog-post li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
